/* general styles */
@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Responsive Styles */
@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 28px;
    }

    .hero-section p {
        font-size: 16px;
    }

    /*.search-bar {
        width: 80%;
    }*/

    .explore-btn {
        font-size: 16px;
        padding: 12px 20px;
    }

    .nav-btn {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    .menu {
        flex-direction: column;
        width: 100%;
    }

    .nav-btn {
        margin: 5px 0;
        font-size: 14px;
        width: 100%;
        text-align: left;
    }

    .search-bar {
        width: 90%;
    }

    .hero-section h1 {
        font-size: 24px;
    }

    .hero-section p {
        font-size: 14px;
    }

    .explore-btn {
        width: 90%;
        font-size: 16px;
    }
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                                             body structure
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #4e7252;
}

.logo {
    font-family: 'Kalnia', sans-serif;
    color: #458352;
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav a {
    text-decoration: none;
    color: #458352;
    background-color: #FFFFFF;
    border: 1px solid #4e7252;
    border-radius: 20px;
    padding: 5px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav a:hover {
    background-color: #4e7252;
    color: #458352;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                                            index.html
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
.index_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 200px auto;
    padding: 20px;
    max-width: 650px;
}

.index_main h3 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
}

.index_main p {
    font-size: 1.1rem;
    color: #FFFFFF;
    font-weight: 600;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background: #e8e3eb;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    flex: 1;
    color: #555;
}

.menu-icon,
.search-icon {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.explore-btn {
    border: 2px solid #0BFF3E;
    color: #4e7252;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
}

.explore-btn:hover {
    background-color: #4e7252;
    color: #FFFFFF;
}

.footer {
    background-color: #458352;
    padding: 10px;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.9rem;
    margin-top: auto;
}

.footer-content {
    margin: 0;
}

.custom-button {
    background-color: #458352;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
    position: fixed;
    right: 50px;
    bottom: 100px;
}

.custom-button .material-icons {
    color: #FFFFFF;
    font-size: 24px;
}

.custom-button:hover {
    background-color: #3a5a42;
}

/* ################################################################################################################ */
/*                                              FAQ page styling */
/* ################################################################################################################ */
.faq-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    opacity: 0.95;
    border-radius: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background: radial-gradient(circle, #215600 50%, #d9dace 100%);
    /*box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); Subtle shadow for depth
    background: hsla(97, 100%, 17%, 1);
    background: radial-gradient(circle, hsla(97, 100%, 17%, 1) 30%, hsla(65, 14%, 83%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(97, 100%, 17%, 1) 30%, hsla(65, 14%, 83%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(97, 100%, 17%, 1) 30%, hsla(65, 14%, 83%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#215600", endColorstr="#d9dace", GradientType=1 );*/
}

.faqmain {
    margin: 50px auto;
    text-align: center;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 90px auto;
    padding: 13px;
    max-width: 650px;
    background-color: #458352;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.collapsible {
    background-color: #458352;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 5px 0;
    border-radius: 5px;
    position: relative;
}

.collapsible:hover {
    background-color: #2b57307a;
}

.collapsible.active {
    background-color: #2b5730;
}

.arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: white;
}

.collapsible.active .arrow {
    transform: rotate(180deg);
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    background-color: #2b5730;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: max-height 0.3s ease-out;
}

/* ################################################################################################################ */
/*                                              Events page styling */
/* ################################################################################################################ */
.events-container {
    display: flex;
    padding: 30px;
    margin: 0 auto;
}

.eventsmain {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    max-width: 100%;
}

.contact-btn {
    border: 2px solid #0BFF3E;
    color: #4e7252;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
    margin-left: 200px;
}

.contact-btn:hover {
    background-color: #4e7252;
    color: #FFFFFF;
}


/* ################################################################################################################ */
/*                                              Map page styling */
/* ################################################################################################################ */


.map_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    width: 40%

}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.mapEvent-btn, .mapPreferences-btn {
    border: 2px solid #0BFF3E;
    color: #4e7252;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
}

.mapEvent-btn:hover, .mapPreferences-btn:hover {
    background-color: #4e7252;
    color: #FFFFFF;
}

.map_main h3 {
    color: #FFFFFF;
    /*458352*/
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
}

.map_main p {
    font-size: 1.1rem;
    color: #FFFFFF;
    font-weight: 600;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background: #e8e3eb;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.search-bar map input {
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    flex: 1;
    color: #555;
}

.menu-icon map,
.search-icon map {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

/* ################################################################################################################ */
/*                                              Favourites page styling */
/* ################################################################################################################ */





