/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Responsive Styles */
@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 28px;
    }

    .hero-section p {
        font-size: 16px;
    }

    .search-bar {
        width: 80%;
    }

    .explore-btn {
        font-size: 16px;
        padding: 12px 20px;
    }

    .nav-btn {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    .menu {
        flex-direction: column;
        width: 100%;
    }

    .nav-btn {
        margin: 5px 0;
        font-size: 14px;
        width: 100%;
        text-align: left;
    }

    .search-bar {
        width: 90%;
    }

    .hero-section h1 {
        font-size: 24px;
    }

    .hero-section p {
        font-size: 14px;
    }

    .explore-btn {
        width: 90%;
        font-size: 16px;
    }
}

/*-------------------------------------------------------------------*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #4e7252;
}

.logo {
    font-family: 'Kalnia', sans-serif;
    color: #458352;
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav a {
    text-decoration: none;
    color: #458352;
    background-color: #FFFFFF;
    border: 1px solid #4e7252;
    border-radius: 20px;
    padding: 5px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav a:hover {
    background-color: #4e7252;
    color: #458352;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                                            index.html
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.index_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 200px auto;
    padding: 20px;
    max-width: 650px;
}

.index_main h3 {
    color: #FFFFFF;
    /*458352*/
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
}

.index_main p {
    font-size: 1.1rem;
    color: #FFFFFF;
    font-weight: 600;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background: #e8e3eb;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    flex: 1;
    color: #555;
}

.menu-icon,
.search-icon {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.explore-btn {
    /*background-color: transparent;*/
    border: 2px solid #0BFF3E;
    color: #4e7252;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
}

.explore-btn:hover {
    background-color: #4e7252;
    color: #FFFFFF;
}

.footer {
    background-color: #458352;
    padding: 10px;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.9rem;
    margin-top: auto;
}

.footer-content {
    margin: 0;
}

.custom-button {
    background-color: #458352; /* Adjust to match the green color in your image */
    border: none;
    border-radius: 50%;
    width: 60px; /* Adjust size as needed */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;

    /* Positioning on the right side */
    position: fixed;
    right: 50px; /* Distance from the right edge of the screen */
    bottom: 100px; /* Distance from the bottom edge of the screen */
}

.custom-button .material-icons {
    color: #FFFFFF; /* White color for the icon */
    font-size: 24px; /* Adjust icon size as needed */
}

.custom-button:hover {
    background-color: #3a5a42; /* Darker shade for hover effect */
}

/*Background styling
.body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.95;
    background-attachment: fixed;
}*/

/* ################################################################################################################ */
/*                                              FAQ page styling */
/* ################################################################################################################ */

/* Container specifically for FAQ page */
.faq-container {
    width: 100%;
    max-width: 1000px;  /* Set a maximum width that fits your design; */
    margin: auto;  /* Center the container horizontally */
    padding: 20px;  /* Adds space inside the container */
    opacity: 0.95;
    border-radius: 100px;  /* Rounded corners */
    margin-top: 50px;  /* Adds some space from the top */
    margin-bottom: 50px; /* Adds some space from the bottom */
    background-attachment: fixed; /* Ensures a smooth scrolling effect */
    background: radial-gradient(circle, #215600 50%, #d9dace 100%);

    /*box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); Subtle shadow for depth
    background: hsla(97, 100%, 17%, 1);
    background: radial-gradient(circle, hsla(97, 100%, 17%, 1) 30%, hsla(65, 14%, 83%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(97, 100%, 17%, 1) 30%, hsla(65, 14%, 83%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(97, 100%, 17%, 1) 30%, hsla(65, 14%, 83%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#215600", endColorstr="#d9dace", GradientType=1 );*/
}

/* FAQ page header */
.faqmain {
    margin: 50px auto;
    text-align: center;
}

/* FAQ container */
.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 90px auto;
    padding: 13px;
    max-width: 650px;
    background-color: #458352;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

/* Collapsible button styles */
.collapsible {
    background-color: #458352;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 5px 0;
    border-radius: 5px;
    position: relative; /* To position arrow */
}

.collapsible:hover {
    background-color: #2b57307a;
}

/* Active button styles when clicked */
.collapsible.active {
    background-color: #2b5730;
}

/* Arrow icon */
.arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: white;
}

/* Transition for rotating arrow */
.collapsible.active .arrow {
    transform: rotate(180deg);
}

/* Collapsible content styles */
.content {
    padding: 0 18px;
    max-height: 0; /* Initially collapsed */
    overflow: hidden;
    background-color: #2b5730;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: max-height 0.3s ease-out; /* Smooth transition */
}

/* ################################################################################################################ */
/*                                              Events page styling */
/* ################################################################################################################ */

/* Container for the events page */
.events-container {
    display: flex;
    /* background: none; */
    padding: 80px;
    margin: 0 auto;
    /* text-align: left; */
    /* background-color: #0a140b; Changes background color for this page */
}

/* Removes the box behind the text */
.eventsmain {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    text-align: left; */
    margin: 0;
    padding: 20px;
    max-width: 100%;
}

/* Event Page Button */
.contact-btn {
    /*background-color: transparent;*/
    border: 2px solid #0BFF3E;
    color: #4e7252;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
}

.contact-btn:hover {
    background-color: #4e7252;
    color: #FFFFFF;
}


/* ################################################################################################################ */
/*                                              Events page styling */
/* ################################################################################################################ */

.map_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
}

.button-container {
    display: flex;
    gap: 10px; /* Adjust space between buttons */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center;
}

.mapEvent-btn, .mapPreferences-btn {
    border: 2px solid #0BFF3E;
    color: #4e7252;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
}

.mapEvent-btn:hover, .mapPreferences-btn:hover {
    background-color: #4e7252;
    color: #FFFFFF;
}


/* ################################################################################################################ */
/*                                              Map page styling */
/* ################################################################################################################ */


.map_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 200px auto;
    padding: 20px;
    max-width: 650px;
}

.map_main h3 {
    color: #FFFFFF;
    /*458352*/
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
}

.map_main p {
    font-size: 1.1rem;
    color: #FFFFFF;
    font-weight: 600;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background: #e8e3eb;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    flex: 1;
    color: #555;
}







