/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #dbe7e4, #f7f8fa);
    margin: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Ensures footer is pushed to the bottom */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #4e7252;
}

.logo {
    font-family: 'Kalnia', sans-serif;
    color: #4e7252;
    margin: 0;
    font-size: 2.3rem;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav a {
    text-decoration: none;
    color: #4e7252;
    background-color: #ffffff;
    border: 1px solid #4e7252;
    border-radius: 20px;
    padding: 5px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav a:hover {
    background-color: #4e7252;
    color: #ffffff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 200px auto;
    padding: 17px;
    max-width: 650px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.main h3 {
    color: #4e7252;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
}

.main p {
    font-size: 1.1rem;
    color: #666;
    font-weight: 600;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background: #e8e3eb;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    flex: 1;
    color: #555;
}

.menu-icon,
.search-icon,
.profile-icon {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.profile-icon {
    background-color: #4e7252;
    color: #fff;
    font-weight: bold;
}

.explore-btn {
    background-color: transparent;
    border: 2px solid #4e7252;
    color: #4e7252;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
}

.explore-btn:hover {
    background-color: #4e7252;
    color: #ffffff;
}

.footer {
    background-color: #4e7252;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    margin-top: auto;
}

.footer-content {
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 28px;
    }

    .hero-section p {
        font-size: 16px;
    }

    .search-bar {
        width: 80%;
    }

    .explore-btn {
        font-size: 16px;
        padding: 12px 20px;
    }

    .nav-btn {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    .menu {
        flex-direction: column;
        width: 100%;
    }

    .nav-btn {
        margin: 5px 0;
        font-size: 14px;
        width: 100%;
        text-align: left;
    }

    .search-bar {
        width: 90%;
    }

    .hero-section h1 {
        font-size: 24px;
    }

    .hero-section p {
        font-size: 14px;
    }

    .explore-btn {
        width: 90%;
        font-size: 16px;
    }
}

/* Background styling */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.95;
    background-attachment: fixed;
}


/* ################################################################################################################ */
/*                                              FAQ page styling */
/* ################################################################################################################ */

/* Container specifically for FAQ page */
.faq-container {
    width: 100%;
    max-width: 1000px;  /* Set a maximum width that fits your design; */
    margin: 0 auto;  /* Center the container horizontally */
    padding: 20px;  /* Adds space inside the container */
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */

    background: hsla(97, 100%, 17%, 1);
    background: radial-gradient(circle, hsla(97, 100%, 17%, 1) 30%, hsla(65, 14%, 83%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(97, 100%, 17%, 1) 30%, hsla(65, 14%, 83%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(97, 100%, 17%, 1) 30%, hsla(65, 14%, 83%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#215600", endColorstr="#d9dace", GradientType=1 );

    opacity: 0.95;
    background-attachment: fixed; /* Ensures a smooth scrolling effect */
    border-radius: 15px;  /* Rounded corners */
    margin-top: 50px;  /* Adds some space from the top */
    margin-bottom: 50px; /* Adds some space from the bottom */
}

/* FAQ page header */
.faqmain {
    margin: 50px auto;
    text-align: center;
}

/* FAQ container */
.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 90px auto;
    padding: 13px;
    max-width: 650px;
    background-color: #4e7252;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

/* Collapsible button styles */
.collapsible {
    background-color: #4e7252;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 5px 0;
    border-radius: 5px;
    position: relative; /* To position arrow */
}

.collapsible:hover {
    background-color: #2b57307a;
}

/* Active button styles when clicked */
.collapsible.active {
    background-color: #2b5730;
}

/* Arrow icon */
.arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: white;
}

/* Transition for rotating arrow */
.collapsible.active .arrow {
    transform: rotate(180deg);
}

/* Collapsible content styles */
.content {
    padding: 0 18px;
    max-height: 0; /* Initially collapsed */
    overflow: hidden;
    background-color: #2b5730;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: max-height 0.3s ease-out; /* Smooth transition */
}


/* ################################################################################################################ */
/*                                              Events page styling */
/* ################################################################################################################ */

/* Container for the events page */
.events-container {
    background: none;
    padding: 20px;
    margin: 0;
    text-align: left;
    /* Changes background color for this page */
    background-color: #0a140b;
}

/* Removes the box behind the text */
.eventsmain {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    text-align: left; */
    margin: 0;
    padding: 20px; /* Add padding for better spacing */
    max-width: 100%;
}
